.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.divider {
  width: 90vw;
  height: 1vh;
  border-top: 1px solid rgb(184, 184, 184);
  margin: 3vh auto 1vh auto;
}

.divider-bottom {
  width: 90vw;
  height: .5vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 1vh;
}

img {
  width: 50vw;
  margin: 4.5vh 0 -1.5vh 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

p {
  font-size: 1.1em;
  margin: -1vh auto 1vh auto;
}